html{
    height: 100%
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

figure{
    margin: 0;
    display: block;
    height: 150px;
    /*width: 150px;*/
    position: relative;
    flex: 0 150px;
}

figcaption{
    background: rgba(0,0,0,0.5);
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li{
    color: mediumspringgreen;
    font-weight:900;
}

.main-nav li{
    width: 100px;
}

.main-nav ul{
    list-style: none;
    display: flex;
    /*flex-direction: column;*/
}

.main-nav a{
    color: mediumspringgreen;
    text-decoration: none;
}

.main-nav a:hover{
    text-decoration: underline;
}

.main-header{
    background: darkcyan;
    padding: 10px;
}

.main-content{
    background: pink;
    min-height: 40vh;
    padding: 10px;
}

.main-footer{
    background: darkslategrey;
    padding: 10px;
}


article{
    background: lightgray;
    padding:10px;
    border: 1px solid black;
    border-radius:5px;
}


.title1{
    background: lightcoral;
    flex:1;
    /*width: 200px;
    flex-basis: 160px;
    flex-shrink: 2;*/
}
.title2{
    background: lightgreen;
    flex:30px;
    /*flex-basis: 100px;
    flex-grow: 2;*/
}

.title3{
    background: lightskyblue;
    flex: 0 80px;
    /*flex-basis: 50px;
    flex-grow: 3;*/
}
